@import url(variable.css);
@import url(reset.css);

.ul{
    list-style: none;
}

a {
    text-decoration: none;
}

header, nav {
    background-color: rgba(24, 24, 29, 1);
}

.navbar, .banner_ {
    padding: 0 var(--px);
}

.container {
    margin: 0 auto;
}

.navbar {
    position: relative;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 var(--px);
}

.navbar-brand {
    margin-right: 30px;
    width: 100px;
}

.navbar-menu-btn {
    display: none;
}

nav {
    margin-right: 150px;
}

.navbar-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar-nav li{
    margin-right: 60px;
}

.navbar-link {
    display: inline-block;
    text-decoration: none;
    font-size: var(--fs-md);
    font-weight: var(--fw-5);
    white-space: nowrap;
}

.navbar-link:hover {
    color: var(--color-info-hover);
}

.user-container {
    display: flex;
    align-items: center;
    position: relative;
    margin-left: auto;
}

.user-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1001; 
}

#arrow-icon {
    margin-left: 18px;
    font-size: 16px;
    cursor: pointer;
    color: #fff;
    z-index: 1001; 
}

.sub-menu-warp {
    position: absolute;
    top: calc(70% + 10px); 
    right: 10px; 
    width: 200px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
    z-index: 1000; 
}

.sub-menu-warp.open-class {
    max-height: 400px;
}

.sub-menu {
    background-color: #1f2937;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 0; 
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info img {
    width: 60px;
    border-radius: 50%;
    margin-right: 15px;
}

.sub-menu-link {
    display: flex;
    gap: 10px;
    align-items: center;
    text-decoration: none;
    color: #fff;
    margin: 12px 0;
}

.sub-menu-link p {
    width: 100%;
}

.sub-menu-link:hover p {
    color: var(--color-info-hover);
    font-weight: 600;
}

.icon {
    width: 25px;
    fill: #fff;
    margin-right: 10px;
    transition: fill 0.3s ease;
}

.sub-menu-link:hover .icon {
    fill: var(--color-info-hover);
}

.banner {
    margin-bottom: -3%;
}

.banner-card {
    position: relative;
    height: 700px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5); /* Adjust values as needed */
}

.banner-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        to bottom, 
        rgba(24, 24, 29, 0) 0%, 
        rgba(24, 24, 29, 1) 100%
    );
    z-index: 1;
    pointer-events: none; 
}

.banner-img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    position: relative;
    z-index: 0; 
}

.banner-card:hover .banner-img {
    transform: scale(1.1);
}

.banner-card .card-content {
    position: absolute;
    right: 80px;
    bottom: 60px;
    left: 80px;
    z-index: 2;
}

.banner-card .card-title {
    font-size: 3em;
    color: #fff;
    text-shadow: 2px 0 2px #0007;
    margin-bottom: 20px;
}

.banner-card .card-info p {
    line-height: 1.5;
    font-size: 1.2rem;
    margin-bottom: 30px;
    max-width: 50%; 
    padding-right: 0; 
}

.banner-card .card-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.banner-card .left-buttons {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.banner-card .right-buttons {
    display: flex;
    align-items: center;
    padding-right: 2%;
}

.banner-card button {
    border-radius: 2rem;
    font-size: 1.2rem;
    cursor: pointer;
    border: none;
    padding: 0.5rem 1.5rem;
    transition: background-color 0.3s ease;
}

.banner-card .primary {
    background-color: #007bff; 
    color: #fff;
}

.banner-card .secondary {
    display: inline-flex;
    align-items: center;
    font-size: 1.2rem;
    cursor: pointer;
    color: #fff;
}

.banner-card .secondary .icon {
    margin-right: 0.5rem; 
    width: 1.4rem; 
    height: 1.4rem; 
}

.banner-card .rating {
    display: inline-block;
    width: 2.5rem;
    height: 2.5rem;
    line-height: 2.5rem;
    border-radius: 50%;
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.5);
    text-align: center;
    font-weight: bold;
}

.banner-card .volume-icon {
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
}

.continue-watching {
    position: relative;
    padding: 80px;
    display: flex;
    flex-direction: column; 
    margin-bottom: -8%;
}

.section-header {
    position: relative;
    margin-bottom: 20px; 
    z-index: 2;
    text-align: left;
}

.showcase-box {
    position: relative;
    min-width: 500px; 
    height: 250px;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    margin: 0 5px 10px 10px;
    overflow: hidden;
}

.showcase-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.continue-watching:hover .showcase-box img {
    transform: scale(1.1);
}

.movie-item-content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    color: #fff;
    border-radius: 0 0 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.movie-item-content .rating {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.movie-item-content .rating img {
    width: 1.5rem;
    height: 1.5rem;
    display: inline-block;
}

.cs-hidden {
    overflow: visible !important;
}

.top-films{
    position: relative;
    padding: 80px;
    display: flex;
    flex-direction: column; 
    margin-bottom: -8%;
}

.trending{
    position: relative;
    padding: 80px;
    display: flex;
    flex-direction: column; 
    margin-bottom: -8%;
}

.rilis {
    position: relative;
    padding: 80px;
    display: flex;
    flex-direction: column; 
}

.topfilm-header, .trending-header, .rilis-header {
    position: relative;
    margin-bottom: 20px; 
    z-index: 2;
    text-align: left;
}

.topfilm-box, .trending-box, .rilis-box {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    margin: 0 10px 10px 10px;
    overflow: hidden;
    width: 200px;
}

.topfilm-box img, .trending-box img, .rilis-box img {
    width: 100%;
    height: 270px;
    object-fit: cover;
    border-radius: 5px;
}

.top-films:hover .topfilm-box img, .trending:hover .trending-box img, .rilis:hover .rilis-box img {
    transform: scale(1.1);
}

.trending-icon {
    position: absolute;
    right: 10px;
}

.trending-icon img {
    weight: 100%;
    height: 100%;
    cursor: pointer;
}
.footer {
    background-color: rgba(24, 24, 29, 1);
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgba(231, 227, 252, 0.23);
    padding: 80px;
}

.footer-content ul {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

.footer-content li {
    margin-bottom: 10px;
}

.footer-brand {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-logo {
    width: 150px;
    height: auto;
    margin-bottom: 20px;
}

.slogan {
    font-size: var(--fs-sm);
    line-height: 20px;
    margin-bottom: 20px;
}

.footer-genre, .footer-help {
    position: relative;
}

.menu-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 50px;
    align-items: flex-start;
}

.footer-title {
    font-size: var(--fs-md);
    color: #fff;
    margin-top: -50px;
    display: flex;
    align-self: flex-start;
    margin-bottom: -80%;
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links li {
    margin-bottom: 10px;
}

ul .link-item:not(:last-child) {
    margin-bottom: 10px;
}

.footer-links a:hover {
    color: var(--color-info-hover);
}

.hamburger {
    font-size: 24px;
    cursor: pointer;
    display: none;
    align-items: center;
    margin-bottom: 10px;
    color: #fff;
    transition: transform 0.3s ease-in-out;
}

.hamburger.active i {
    transform: rotate(90deg);
}

