@media (max-width: 575.98px) {
@media (max-width: 575.98px) {
.navbar {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 0 20px;
    height: 50px;
  }

.navbar-brand {
    position: relative;
    align-items: center;
    flex: 0 0 35%; 
    transform: scale(1);
    margin-right: 20px; 
    height: 50px; 
    overflow: hidden; 
    margin-top: 10px;
  }

.navbar-brand img {
    position: absolute;
    width: 100%; 
    height: auto;
    clip: rect(0px,40px,200px,0px);
  }

.navbar-menu-btn {
    font-size: 1.2rem;
    margin-left: auto; /* Pushes the menu button to the right */
  }

.navbar-nav {
    transform: scale(0.7);
    margin-left: -130px;
    gap: -40px;
  }

.navbar-nav li{
    margin-right: 30px;
}

.user-container {
    display: flex;
    align-items: center;
    transform: scale(0.8); 
  }

.user-pic {
    width: 30px; 
    height: 30px;
    margin-left: -140px; 
  }

.arrow-icon {
    font-size: 0.8rem; /* Smaller size for the arrow icon */
    margin-left: 5px; /* Space between user picture and arrow */
  }

.sub-menu-warp {
    right: -5px;
    position: absolute;
    top: calc(70% + 10px); 
    transform: scale(0.9);
  }


.banner {
    margin-bottom: 2%;
}

.banner-card {
    height: 220px;
  }

.banner-card .card-title {
    position: relative;
    font-size: 1.2rem;
    left: -50px;
    bottom: -20px;
  }

.banner-card .card-info p {
    font-size: 0.8rem;
    line-height: 1.2;
    max-width: 150%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: -50px;
    margin-right: -50px;
    margin-bottom: -5px;
    margin-top: 30px;
  }

.banner-card .left-buttons {
    scale: 0.7;
    margin-bottom: -60px;
    margin-left: -105px;
    gap: 0.5rem;
  }

.banner-card .right-buttons {
    scale: 0.7;
    margin-bottom: -60px;
    margin-right: -50px;
  }

.continue-watching {
    padding: 30px; 
    font-size: 0.8rem; 
    margin-bottom: -50%;
  }

.showcase-box {
    max-width: 350px;
    height: 160px;
  }

.top-films, .trending, .rilis {
    padding: 30px; 
    font-size: 0.8rem;
    
  }

.topfilm-box, .trending-box, .rilis-box {
    max-width: 180px;
    height: 250px;
  }

.showcase-box,
.topfilm-box,
.trending-box,
.rilis-box {
    min-width: 50%; 
  }

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 40px;
}

.footer-brand {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-left: -125px;
}

.footer-logo {
    width: 100px;
    margin-top: 0px;
}

.slogan  {
    margin-top: -10px;
    font-size: 0.8rem;
}

.footer-genre,
.footer-help {
        margin-left: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

.footer-genre h3,
.footer-help h3 {
    margin-left: 0px; 
    margin-right: 10px;
    margin-bottom: 10px;
    }

.hamburger i{
    font-size: 24px;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-right: 20px;
}
.hamburger {
    font-size: 24px;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.menu-list {
        display: none; 
        background-color: rgba(24, 24, 29, 1); 
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1;
        margin-bottom: 15px;
    }

    .menu-list.show {
        display: flex;
        flex-direction: row /* Tampilkan menu saat .show ditambahkan */
    }

    .menu-list ul {
        margin-bottom: -20px;
        gap: 10px;
    }
}

@media (min-width: 1200px) {
  .navbar {
    justify-content: flex-start;
  }
  .navbar-menu-btn {
    display: none;
  }
  .navbar-nav {
    justify-content: center;
  }
  .banner-card {
    height: 700px;
  }
  .banner-card .card-title {
    font-size: 3.5em;
  }
  .continue-watching,
  .top-films,
  .trending,
  .rilis {
    padding: 100px;
  }
  .showcase-box,
  .topfilm-box,
  .trending-box,
  .rilis-box {
    min-width: 450px;
  }
}
